<%# <h1>Users#show</h1> %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
    <meta http-equiv = "Content-Language" content = "en-us" />
    <title>User Details</title>
    
  </head>

  <body>
    <div>
      <div>
        <%= image_tag('https://placekitten.com/800/400', size: "140x100")%>
        <%= @user.name %>
        <div>Number of Posts: <%= @user.posts_counter %></div>
      </div>
      <br><br>
      <div>
        <div>Bio<div>
        <div><%= @user.bio %></div>
      </div>
      <br>
      <div>
        <% @user.most_recent.each do |post| %>
          <div>
              <div>
              <%= post.title %>
              </div>
              <div>
                <%= post.text %>
              </div>
              <div>
                <span>Comments: </span> <%= post.comments_counter %> <span>, Likes: </span> <%= post.likes_counter %>
              </div>
          </div>
          <br>
        <% end %>
      </div>
      <button>See All</button>
    </div>
  
  </body>
   
</html>
