<%# <h1>Posts#index</h1> %>

<div class="post-index-page-main-div">
  <div class="post-index-page-sub-div">

    <%= render "shared/individual_user" %>
    
    <div class="all-posts-container">
      <% @posts.each do |post| %>
        <%= link_to user_post_path(@user, post), class: "individual-posts-container" do %>
          
          <%= render partial: 'shared/posts_details_block', locals: { post: post } %>

          <% if post.most_recent.any? %>
            <div class="comments-container">
              <% post.most_recent.each do |comment| %>
                <p class="individual-comment"><%= comment.user.name %>: <%= comment.text %></p>
              <% end %>
            </div>
          <% end %>
          
        <% end %>
      <% end %>
    </div>
    <button>Pagination</button>
    <%= link_to 'Add a post', new_user_post_path(@user), class: 'add-a-post-button' %>
  </div>
</div>

